@import "tailwindcss";

@theme {
  --color-brand-bg: #F5FBE6;
  --color-brand-dark: #222222;
  --color-brand-orange: #FA8112;
  --color-brand-green: #0F5F3D;
  --color-brand-yellow: #FFD644;
  --color-brand-pink: #FF4EAD;

  --font-serif: var(--font-merriweather), serif;
  --font-mono: var(--font-space-mono), monospace;
}

/* Custom Utilities for Neo-Brutalism */
@layer utilities {
  .neo-shadow {
    box-shadow: 4px 4px 0px 0px #222222;
  }
  .neo-shadow-hover {
    box-shadow: 0px 0px 0px 0px #222222;
    transform: translate(4px, 4px);
  }
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
}
